@font-face {
  font-family: "iconfont";
  src: url("https://carservice.r10s.jp/font/iconfont.eot");
  src: url("https://carservice.r10s.jp/font/iconfont.eot?#iefix") format("eot"), url("https://carservice.r10s.jp/font/iconfont.woff") format("woff"), url("https://carservice.r10s.jp/font/iconfont.ttf") format("truetype"), url("https://carservice.r10s.jp/font/iconfont.svg#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
