@use '@/util/colors' as color;

.portal-main-content {
  padding: 0;
}

.javascript-portal-guide-content {
  max-width: 896px;
  padding: 0 0 32px;
}

.javascript-guide-top-banner-sp {
  &__image {
    width: 100%;
  }
}

.javascript-guide-top-banner-pc {
  height: 145px;
  background-image: url('/img/maint/guide/maint_top_banner-sp.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 35px;

  @media screen and (min-width: 768px) {
    background-image: url('/img/maint/guide/maint_top_banner-pc.jpg');
    align-items: flex-end;
    margin-bottom: 0;
  }
}

.javascript-guide-top-banner-context {
  display: flex;
  color: #fff;
  font-weight: 600;
  flex-direction: column;
  width: 100%;
  max-width: 896px;
  line-height: 50%;
  margin-top: 20px;

  &__title {
    order: 1;
    font-size: 41px;
    text-align: center;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }

  &__semi-title {
    font-size: 22px;
    text-align: center;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }
}

.javascript-guide-main-banner {
  display: none;
  margin: auto;
  width: auto;
  padding: 16px;
  max-width: 709px;

  &__image {
    width: 100%;
    height: 67px;
    background-size: cover;
  }
}

.javascript-guide-main-banner-sp {
  margin: auto;
  width: auto;
  padding: 16px;

  &__image {
    width: 100%;
    height: 67px;
    background-size: cover;
  }
}

.javascript-guide-introduce {
  display: flex;
  flex-direction: column;
  margin: 12px 0;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
  }

  &__description {
    padding: 20px 24px;
    order: 1;

    @media screen and (min-width: 768px) {
      margin-right: 27px;
      padding: 0;
      order: 0;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      font-size: 24px;
    }
  }

  &__semi-title {
    font-size: 14px;
    font-weight: 700;
    box-shadow: inset 0 -3px 0 yellow;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }

  &__detail {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }

  &__anchor {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    display: block;
  }

  &__image {
    @media screen and (min-width: 768px) {
      max-width: 471px;
      height: 316px;
    }
  }
}

.javascript-guide-top-title {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  padding-top: 20px;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.javascript-guide-instruction {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  margin: 0 24px;
}

.javascript-guide-manual {
  margin: 20px 24px;
  padding-top: 20px;
  border-top: solid 1px #ebebeb;

  @media screen and (min-width: 768px) {
    border-top: none;
    margin: 20px 0;
  }

  &__image {
    width: 100%;

    @media screen and (min-width: 768px) {
      max-width: 480px;
      max-height: 261px;
    }
  }

  &__description {
    padding: 10px 0;

    @media screen and (min-width: 768px) {
      padding: 48px 25px 0;
    }
  }

  &__content {
    font-size: 16px;

    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  &__title {
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    padding-right: 16px;
    margin-bottom: 15px;
    align-items: center;

    @media screen and (min-width: 768px) {
      font-size: 20px;
    }

    &::before {
      content: '';
      margin-right: 16px;
      border-bottom: 60px solid color.$er-link-blue;
      border-right: 2px solid color.$er-link-blue;

      @media screen and (min-width: 768px) {
        margin-right: 26px;
        border-bottom: 40px solid color.$er-link-blue;
      }
    }
  }

  &__bold {
    font-weight: 700;
    line-height: 130%;
    margin-right: -5px;
  }

  &__detail {
    font-size: 14px;
  }

  &__annotation {
    color: #686868;
    font-size: 12px;
    font-weight: 400;
    margin-top: 15px;
    display: block;
  }

  &__point-entry {
    margin-top: 10px;
    width: 100%;
  }
}

.javascript-guide-arrow {
  text-align: center;
  position: relative;
  display: block;
  margin: 32px 0;

  &::after {
    content: '';
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 10px solid #bf0000;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 8px auto;
    width: 0;
    height: 0;
    border-top: 10px solid #bf0000;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  }
}

.javascript-guide-event {
  margin: 0 24px;
  @media screen and (min-width: 768px) {
    display: flex;
    font-size: 16px;
  }

  &__image-pc {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      max-width: 480px;
      height: 100%;
      width: auto;
      padding-right: 10px;
    }
  }

  &__image-sp {
    display: block;
    width: 100%;
  }

  &__title {
    color: #bf0000;
    font-weight: 700;
    font-size: 20px;
    border-bottom: solid 4px #bf0000;
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
      font-size: 22px;
    }
  }

  &__content {
    margin-top: 10px;
    display: block;
    text-align: center;

    @media screen and (min-width: 768px) {
      margin-left: 32px;
    }
  }

  &__intro {
    @media screen and (min-width: 768px) {
      text-align: start;
      margin-left: 22px;
    }
  }

  &__description {
    display: inline-flex;
    align-items: center;

    @media screen and (min-width: 768px) {
      align-items: baseline;
    }

    &--bold {
      color: #bf0000;
      font-size: 48px;
      font-weight: 700;
    }
  }

  &__detail {
    @media screen and (min-width: 768px) {
      display: flex;
    }

    &--point {
      color: #bf0000;
      font-size: 12px;
      font-weight: 700;
      position: relative;
      top: 8px;

      @media screen and (min-width: 768px) {
        font-size: 24px;
        position: inherit;
      }
    }

    &--present {
      color: #bf0000;
      font-size: 22px;
      font-weight: 700;

      @media screen and (min-width: 768px) {
        font-size: 24px;
      }
    }
  }

  &__btn {
    width: 100%;
    max-width: 320px;
    font-size: 16px;

    @media screen and (min-width: 768px) {
      max-width: 360px;
    }
  }

  &__anchor {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    margin-top: 15px;
    display: block;

    @media screen and (min-width: 768px) {
      float: right;
      margin-right: 12px;
    }
  }
}

.javascript-guide-reasons {
  display: block;
  text-align: center;

  &-container {
    margin-top: 40px;
    width: 100%;

    &__image {
      max-width: 130px;
      max-height: 130px;
    }

    &__title {
      padding: 20px;
      font-weight: 700;
      font-size: 18px;
    }

    &__detail {
      text-align: start;
      font-size: 16px;
      display: flex;
      justify-content: center;
      margin: 0 20px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.javascript-guide-exchange {
  display: flex;
  flex-direction: column;
  color: #686868;
  padding: 10px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    padding: 17px;
  }

  &__context {
    padding: 20px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    max-width: 480px;
  }

  &__image {
    display: flex;
    max-width: 480px;

    @media screen and (min-width: 768px) {
      order: 1;
    }
  }

  &:hover {
    color: #686868;
  }
}

.javascript-guide-content-faq-accordion {
  border-top: 1px solid #ebebeb;
  padding: 24px 16px 70px;
  background: #f7f7f7;

  @media screen and (min-width: 768px) {
    margin-top: 50px;
    display: grid;
    justify-content: center;
  }
}

.javascript-guide-faq-heading {
  font-size: 20px;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    font-size: 22px;
  }
}

.javascript-guide-faq {
  background-color: #fff;
  border: 1px solid #ebebeb;
  margin-bottom: 0;
  max-width: 864px;

  &__question {
    margin-bottom: 0;
    position: relative;
    padding: 20px 48px 20px 16px;
    font-weight: bold;

    &::after {
      content: '';
      display: block;
      width: 12px;
      height: 6px;
      background: url('//carservice.r10s.jp/img/repair/arrow_drop_down--gray.svg') no-repeat center center;
      background-size: contain;
      position: absolute;
      right: 20px;
      top: 50%;
      margin-top: -6px;
      transition: transform 0.2s;
    }

    @media print, screen and (min-width: 768px) {
      padding: 24px 30px 24px 24px;

      &::after {
        right: 24px;
      }
    }
  }

  &__answer {
    margin-bottom: 0;
    padding: 0 16px;

    @media print, screen and (min-width: 768px) {
      padding: 0 24px;
    }
  }

  &__inner {
    background-color: #f7f7f7;
    padding: 24px 16px;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      padding: 24px;
      margin-bottom: 24px;
    }
  }
}

.javascript-guide-faq__question.active::after {
  transform: rotate(180deg);
}

.javascript-guide-faq p:last-child {
  margin-bottom: 0;
}

.javascript-guide-link-underline:hover {
  color: #0074ad;
  text-decoration: underline;
}

.javascript-guide-bottom-link {
  max-width: 880px;
  margin: 32px auto;
  padding-left: 16px;
}
