// page layout template class
.javascript-portal-main-content {
  padding: 0;
  border-top: 1px solid #f7f7f7;
}

.javascript-section {
  padding: 12px 0 0;
}

.javascript-border__btm-grey {
  border-bottom: 1px solid #d1d1d1;
}

.javascript-checkbox {
  padding: 4px 0;
}

/* TODO
   Remove rc-footer-pc and sp scss 
   after renewal header footer upload
*/

img.rc-footer-pc {
  width: 100%;
  height: auto;
}

img.rc-footer-sp {
  width: 100px;
  height: auto;
}
